<p class="Title">{{title}} </p> 
<p id="Line">Bienvenido, {{currentUser.firstName}} {{currentUser.lastName}}</p>
<ul class="nav nav-pills flex-column menu">
  <li><img id="logo" src="../../assets/Logo.png" alt=""></li>
  <li>
    <a [className]="startClass" href="#">Inicio</a>
  </li>
  <li>
    <a [className]="usersClass" href="users" >Usuarios</a>
  </li> 
  <li>
    <a [className]="hoursClass" href="hours">Horas Extra</a>
  </li>
  <li>
    <a [className]="reportsClass" href="reports">Reportes</a>
  </li>
  <li>
    <a [className]="configClass" href="config">Configuración</a>
  </li>
  <li>
     <a class="nav-link" href="/logout">Salir</a>
  </li>   
</ul>